<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<head>
    <title th:text="#{home.products.new}"></title>
</head>
<body>
<section layout:fragment="conteudo" >
    <div class="page-header">
        <div class="container-fluid">
            <h1 th:text="#{home.products.new}">

            </h1>
        </div>
    </div>



    <div class="container-fluid">

        <th:block th:include="fragments/SaveSuccessfulMessage"></th:block>


        <form method="POST" th:object="${product}" class="form-vertical  js-form-loading" th:action="@{/products/new}">

            <th:block th:include="fragments/ValidationErrorMessages"></th:block>

            <input type="hidden" id="id" th:field="*{code}">

            <div class="row">
                <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('nickname')} ? has-error">
                    <label for="nickname" class="control-label" th:text="#{product.nick}"></label>
                    <input id="nickname" type="text" class="form-control" th:field="*{nickname}" required/>
                </div>

                <div class="col-sm-10 form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
                    <label for="name" class="control-label" th:text="#{product.name}">Nome</label>
                    <input id="name" class="form-control" th:field="*{name}" required>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
                <label for="description" class="control-label" th:text="#{product.description}"></label>
                <textarea id="description" rows="3" class="form-control" th:field="*{description}" required></textarea>
            </div>


            <div class="row">
                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('buyingDate')} ? has-error">
                    <label for="buyingDate" class="control-label" th:text="#{product.datebuy}"></label>
                    <div class="input-group">
                        <input type="date" th:field="*{buyingDate}" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"required name="buyingDate" id="buyingDate" class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" th:classappend="${#fields.hasErrors('category')} ? has-error">
                        <label for="category" class="control-label" th:text="#{category.name}"></label>
                        <div class="pt-field-action">
                            <select id="category" class="form-control" th:field="*{category}" required>
                                <option value="" th:text="#{product.category.select}"></option>
                                <option th:each="category: ${categorias}" th:value="${category}" th:text="${category.description}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('supplier')} ? has-error">
                    <label for="supplier" class="control-label" th:text="#{product.list.supplier}"></label>
                    <div class="pt-field-action">
                        <select id="supplier" class="form-control" th:field="*{supplier}" required>
                            <option value="" th:text="#{product.supplier.select}"></option>
                            <option th:each="supplier:${fornecedores}" th:value="${supplier.code}" th:text="${supplier.name}"></option>
                        </select>

                        <!--<div class="pt-field-action_icon">
                            <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoFornecedor">
                                <i class="glyphicon glyphicon-plus-sign pt-icon-large"></i>
                            </a>
                        </div>-->
                    </div>
                </div>



                <div class="col-lg-3 col-sm-6 form-group" th:classappend="${#fields.hasErrors('origin')} ? has-error">
                    <label class="control-label" th:text="#{product.origin}"></label>
                    <div>
                        <th:block th:each="origin:${origens}">
                        <div class="radio radio-inline">
                            <input type="radio" th:id="|id_${origin}|" th:value="${origin}" th:field="*{origin}" required>
                            <label th:for="|id_${origin}|" th:text="${origin.description}" ></label>
                        </div>
                        </th:block>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 form-group" th:classappend="${#fields.hasErrors('buyingPrice')} ? has-error">
                    <label for="bprice" class="control-label" th:text="#{product.pricebuy}"></label>
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" id="bprice" class="form-control js-decimal" th:field="*{buyingPrice}" required>
                    </div>
                </div>

                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('percentage')} ? has-error">
                    <label for="percen" class="control-label" th:text="#{product.percent}"></label>
                    <div class="input-group">
                        <input type="text" id="percen" class="form-control inteiro" tabindex="2" th:field="*{percentage}" readonly required>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>

                <div class="col-lg-3 form-group" th:classappend="${#fields.hasErrors('sellingPrice')} ? has-error">
                    <label for="sprice" class="control-label" th:text="#{product.pricesell}"></label><!--ADICIONAR CÁLCULO PARA GERAR AUTOMATICAMENTE -->
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" id="sprice" class="form-control js-decimal" th:field="*{sellingPrice}" required>
                    </div>
                </div>



                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('qtd')} ? has-error">
                    <label for="qtd" class="control-label" th:text="#{product.qtd}"></label>
                    <input type="number" min="1" max="100" id="qtd" value="1" class="form-control" th:field="*{qtd}" required>
                </div>
            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit" th:text="#{save}"></button>
            </div>

        </form>
    </div>

    <div th:replace="layout/estilo/CadastroRapidoFornecedor :: modalFornecedor"></div>
</section>


</body>
</html>