<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<head>
    <title th:text="#{home.products.view}"></title>
</head>
<body>
<section layout:fragment="conteudo" >
    <div class="page-header">
        <div class="container-fluid">
            <h1 th:text="#{home.products.view}">
            </h1>
        </div>
    </div>



    <div class="container-fluid">

        <th:block th:include="fragments/MensagemSucessoCadastro"></th:block>


        <form method="POST" th:object="${product}" class="form-vertical  js-form-loading">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <div class="row">
                <div class="col-sm-2 form-group" >
                    <label for="apelido" class="control-label"th:text="#{product.nick}"></label>
                    <input id="apelido" type="text" class="form-control" th:field="*{apelido}" disabled/>
                </div>

                <div class="col-sm-10 form-group" >
                    <label for="nome" class="control-label" th:text="#{product.name}"></label>
                    <input id="nome" class="form-control" th:field="*{nome}" disabled>
                </div>
            </div>

            <div class="form-group" >
                <label for="descricao" class="control-label" th:text="#{product.description}"></label>
                <textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}" disabled></textarea>
            </div>


            <div class="row">
                <div class="col-sm-3 form-group" >
                    <label for="dataCompra" class="control-label" th:text="#{product.datebuy}"></label>
                    <div class="input-group">
                        <input type="date" th:field="*{dataCompra}" disabled name="dataCompra" id="dataCompra" class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" >
                        <label for="category" class="control-label" th:text="#{category.name}"></label>
                        <div class="input-group">
                                <input id="category" type="text" th:field="*{category.descricao}" disabled/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 form-group" >
                    <label for="supplier" class="control-label" th:text="#{product.list.supplier}"></label>
                    <div class="input-group">

                            <input id="supplier" type="text" th:field="*{supplier.nome}" disabled></option>

                        <!--<div class="pt-field-action_icon">
                            <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoFornecedor">
                                <i class="glyphicon glyphicon-plus-sign pt-icon-large"></i>
                            </a>
                        </div>-->
                    </div>
                </div>



                <div class="col-lg-3 col-sm-6 form-group" >
                    <label class="control-label" th:text="#{product.origin}"></label>
                    <div>

                        <div class="input-group">
                                <input type="text" th:id="|id_${origin}|" th:value="${origin}" th:field="*{origin.descricao}" disabled>
                            </div>

                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 form-group" >
                    <label for="pcompra" class="control-label" th:text="#{product.pricebuy}"></label>
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" id="pcompra" class="form-control js-decimal" th:field="*{precoCompra}" disabled>
                    </div>
                </div>

                <div class="col-sm-3 form-group" >
                    <label for="percen" class="control-label" th:text="#{product.percent}"></label>
                    <div class="input-group">
                        <input type="text" max="1000" min="0" id="percen" class="form-control" th:field="*{percentual}" disabled>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>

                <div class="col-lg-3 form-group">
                    <label for="pvenda" class="control-label" th:text="#{product.pricesell}"></label><!--ADICIONAR CÁLCULO PARA GERAR AUTOMATICAMENTE -->
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" id="pvenda" class="form-control" tabindex="2" th:field="*{precoVenda}" readonly disabled>
                    </div>
                </div>



                <div class="col-sm-3 form-group" >
                    <label for="qtd" class="control-label" th:text="#{product.qtd}"></label>
                    <input type="number" min="1" max="100" id="qtd" value="1" class="form-control js-inteiro" th:field="*{qtd}" disabled>
                </div>
            </div>

        </form>
    </div>

    <div th:replace="layout/estilo/CadastroRapidoFornecedor :: modalFornecedor"></div>
</section>


</body>
</html>