<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<body>
<section layout:fragment="conteudo" >

<div class="page-header">
  <div class="container-fluid">
    <h1 th:text="#{home.dashboard}">
      Dashboard
    </h1>
  </div>
</div>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-4">
      <a th:href="@{/}">
      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-bank  fa-3x"></i>
        </div>
        <div class="aw-box__value">R$983.433,20</div>
        <div class="aw-box__title" th:text="#{home.total.income}">Faturamento total</div>
      </div>
      </a>
    
    </div>

    <div class="col-sm-4">
      <a th:href="@{/}">
      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-usd  fa-3x"></i>
        </div>
        <div class="aw-box__value">R$343.542,59</div>
        <div class="aw-box__title" th:text="#{home.income.this.year}">Faturamento no ano</div>
      </div>
      </a>
    
    </div>
    
    <div class="col-sm-4">

      <a th:href="@{/}">
        <div class="aw-box">
          <div class="aw-box__icon">
            <i class="fa  fa-heartbeat  fa-3x"></i>
          </div>
          <div class="aw-box__value">R$40.233,40</div>
          <div class="aw-box__title" th:text="#{home.income.this.month}">Faturamento no mês</div>
        </div>
      </a>
    
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <a th:href="@{/}">
      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-users  fa-3x"></i>
        </div>
        <div class="aw-box__value">1.298</div>
        <div class="aw-box__title" th:text="#{home.customers.total}"></div>
      </div>
      </a>
    </div>
    
    <div class="col-sm-4">
      <a th:href="@{/products/list}">
      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-battery-empty  fa-3x"></i>
        </div>
        <div class="aw-box__value">123</div>
        <div class="aw-box__title" th:text="#{home.products.list}">Produtos sem estoque</div>
      </div>
      </a>
    </div>
    
    <div class="col-sm-4">
      <a th:href="@{/}">
      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-truck  fa-3x"></i>
        </div>
        <div class="aw-box__value">3.344</div>
        <div class="aw-box__title" th:text="#{home.products.total}">Estoque total</div>
      </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="aw-graph-box">
        <div class="aw-graph-box__header">
          <h2 class="aw-graph-box__title" th:text="#{home.monthly.income}">Faturamento por mês <small th:text="#{home.last.months}">últimos 12 meses</small></h2>
        </div>
        <div class="aw-graph-box__content">
          <div class="aw-graph-box__no-data">
              <i class="fa  fa-line-chart  fa-2x"></i>
              <span th:text="#{no.data}">Não há dados</span>
          </div>

          <div>
            <canvas id="lineChart" height="160"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="aw-graph-box">
        <div class="aw-graph-box__header">
          <h2 class="aw-graph-box__title" th:text="#{home.income.per.employee}">Faturamento por representante <small th:text="#{home.last.months}">últimos 12 meses</small></h2>
        </div>
        <div class="aw-graph-box__content" style="position: relative">
          <div class="aw-graph-box__no-data">
              <i class="fa  fa-line-chart  fa-2x"></i>
              <span th:text="#{no.data}">Não há dados</span>
          </div>

          <div>
            <canvas id="lineChart" height="160"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

</body>
</html>