<section layout:fragment="conteudo" >
    <div class="page-header">
        <div class="container-fluid">
            <h1>
                New Product
            </h1>
        </div>
    </div>



    <div class="container-fluid">

        <th:block th:include="fragments/MensagemSucessoCadastro"></th:block>


        <form method="POST" th:object="${product}" class="form-vertical  js-form-loading">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <div class="row">
                <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('nickname')} ? has-error">
                    <label for="nickname" class="control-label">Apelido</label>
                    <input id="nickname" type="text" class="form-control" th:field="*{nickname}" required/>
                </div>

                <div class="col-sm-10 form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
                    <label for="name" class="control-label">Nome</label>
                    <input id="name" class="form-control" th:field="*{name}" required>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
                <label for="description" class="control-label">Descrição</label>
                <textarea id="description" rows="3" class="form-control" th:field="*{description}" required></textarea>
            </div>


            <div class="row">
                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('buyingDate')} ? has-error">
                    <label for="buyingDate" class="control-label">Data de Compra</label>
                    <div class="input-group">
                        <input type="date" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}" required name="buyingDate" id="buyingDate" class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" th:classappend="${#fields.hasErrors('category')} ? has-error">
                        <label for="category" class="control-label">Categoria</label>
                        <div class="pt-field-action">
                            <select id="category" class="form-control" th:field="*{category}" required>
                                <option value="">Selecione a category...</option>
                                <option th:each="category: ${categorias}" th:value="${category}" th:text="${category.description}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('supplier')} ? has-error">
                    <label for="supplier" class="control-label">Fornecedor</label>
                    <div class="pt-field-action">
                        <select id="supplier" class="form-control" th:field="*{supplier}" required>
                            <option value="">Selecione o supplier...</option>
                            <option th:each="supplier:${fornecedores}" th:value="${supplier.code}" th:text="${supplier.name}"></option>
                        </select>

                        <!--<div class="pt-field-action_icon">
                            <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoFornecedor">
                                <i class="glyphicon glyphicon-plus-sign pt-icon-large"></i>
                            </a>
                        </div>-->
                    </div>
                </div>



                <div class="col-lg-3 col-sm-6 form-group" th:classappend="${#fields.hasErrors('origin')} ? has-error">
                    <label class="control-label">Origem</label>
                    <div>
                        <th:block th:each="origin:${origens}">
                            <div class="radio radio-inline">
                                <input type="radio" th:id="|id_${origin}|" th:value="${origin}" th:field="*{origin}" required>
                                <label th:for="|id_${origin}|" th:text="${origin.description}">Nacional</label>
                            </div>
                        </th:block>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 form-group" th:classappend="${#fields.hasErrors('buyingPrice')} ? has-error">
                    <label for="pcompra" class="control-label">Preço de Compra</label>
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" id="pcompra" class="form-control js-decimal" th:field="*{buyingPrice}" required>
                    </div>
                </div>

                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('percentage')} ? has-error">
                    <label for="percen" class="control-label">Percentual Venda/Compra</label>
                    <div class="input-group">
                        <input type="text" max="1000" min="0" id="percen" class="form-control" th:field="*{percentage}" required>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>

                <div class="col-lg-3 form-group" th:classappend="${#fields.hasErrors('sellingPrice')} ? has-error">
                    <label for="pvenda" class="control-label">Preço de Venda</label><!--ADICIONAR CÁLCULO PARA GERAR AUTOMATICAMENTE -->
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input type="text" id="pvenda" class="form-control" tabindex="2" th:field="*{sellingPrice}" readonly required>
                    </div>
                </div>



                <div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('qtd')} ? has-error">
                    <label for="qtd" class="control-label">Qtd.</label>
                    <input type="number" min="1" max="100" id="qtd" value="1" class="form-control js-inteiro" th:field="*{qtd}" required>
                </div>
            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>
            </div>

        </form>
    </div>

    <div th:replace="layout/estilo/CadastroRapidoFornecedor :: modalFornecedor"></div>
</section>