<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:id="http://www.w3.org/1999/xhtml"
	  layout:decorator="'layout/LayoutPadraoLogin'">
<head>
	<title th:text="#{login.title}"></title>
</head>
<body>
<section layout:fragment="conteudo">
	<p th:if="${loginError}" class="error" th:text="#{login.message.error}"></p>
	<form th:action="@{/login}" method="post">

	<div class="aw-simple-panel">
		<img alt="AlgaWorks" th:src="@{/images/logo.png}"/>

		<div class="aw-simple-panel__message" th:text="#{login.welcome}">
		</div>
		
		<div class="aw-simple-panel__box">
			<div class="form-group  has-feedback">
				<input type="text" class="form-control  input-lg" name="username" id="username" th:placeholder="#{login.username}"/>
				<span class="glyphicon  glyphicon-envelope  form-control-feedback" aria-hidden="true"></span>
			</div>
			
			<div class="form-group  has-feedback">
				<input type="password" name="password" class="form-control  input-lg" id="password" th:placeholder="#{login.password}"/>
				<span class="glyphicon  glyphicon-lock  form-control-feedback" aria-hidden="true"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width" th:text="#{login.enter}"></button>
			</div>
			
			<div class="form-group clearfix">
				<div class="checkbox  pull-left  aw-checkbox-no-margin">
					<input type="checkbox" id="lembrar"/>
					<label for="lembrar" th:text="#{login.remember}"></label>
				</div>
				
				<div class="pull-right">
					<a href="esqueceu-a-senha.html" th:text="#{login.forget}"></a>
				</div>
			</div>
		</div>
		
		<div class="aw-simple-panel__footer" th:text="#{login.new}">Novo por aqui? <a href="#" th:text="#{login.register}"></a>.</div>
	</div>
</form>
</section>
</body>
</html>
