<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    <h1 th:text="#{sell.search}">

                    </h1>
                </div>

                <div class="col-xs-4">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-primary" th:href="@{/sell/new2}" >
                            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm" th:text="#{home.sellings.new}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <form method="get" class="form-vertical">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label th:text="#{sell.period}"></label>

                        <div class="form-inline">
                            <input type="date" class="form-control  aw-form-control-inline-sm">
                            <label class="aw-form-label-between" th:text="#{between}"></label>
                            <input type="date" class="form-control  aw-form-control-inline-sm">
                        </div>
                    </div>
                </div>


            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit" th:text="#{search}">

                </button>
            </div>

        </form>

        <span th:if="${#lists.isEmpty(sells)}"
              th:text="#{sell.nosells}"> </span> <!-- TODO: RNG009 MSG006-->
        <div class="box-body table-responsive no-padding"
             th:if="!${#lists.isEmpty(sells)}">
            <table class="table table-hover cell-border" id="datatable">
                <thead>
                <tr>
                    <th th:text="#{sell.code}"></th>
                    <th th:text="#{selling.total}"></th>
                    <th th:text="#{product.list.options}"></th> <!--TODO: RNG001-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="sell: ${sells}">
                    <td th:text="${sell.getCode()}"></td>
                    <td th:text="${sell.getTotalSell()}"></td>
                    <!--<td th:text="${#dates.format(occurrence.dateInsert, 'dd/MM/yyyy')}"></td>-->

                    <td>
                        <!--<a sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{|manage/${occurrence.id}|}"
                           class="btn btn-default"
                           th:text="#{occurrence.modal.manage.occurrence.button}"
                           th:if="${action=='manage'}"></a>-->
                        <a
                                class="btn btn-info" id="btn-view"
                                th:text="#{product.view}" href="#">
                        </a>

                        <a href="#"

                           class="btn btn-danger"
                           th:text="#{product.delete}" id="btn-delete">
                        </a>



                    </td>
                </tr>
                </tbody>
            </table>

        </div>
</section>

<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert/1.1.3/dist/sweetalert.css"/>
</th:block>

<th:block layout:fragment="js-view">
<script
        src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
<script src="/webjars/sweetalert/1.1.3/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function() {
        $('#datatable').DataTable();

    });

    function confirmAlert(msg, redirectPage) {
        swal({
            title : msg,
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : "Yes, delete it!",
            cancelButtonText : "No, cancel.",
            closeOnConfirm : false,
            closeOnCancel : true
        }, function(isConfirm) {
            if (isConfirm) {
                swal({
                    title : "Deleted",
                    type : "success",
                    confirmButtonColor : "#00acd6",
                    confirmButtonText : "Ok!",
                    closeOnConfirm : false
                }, function(isOk) {
                    if (isOk) {
                        window.location.href = redirectPage;
                    }
                });
            }
        })
    };
</script>
</th:block>


</body>
</html>