<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<head>
    <title th:text="#{home.sellings}"></title>
</head>
<body>
<section layout:fragment="conteudo" >
    <div class="page-header">
        <div class="container-fluid">
            <h1 th:text="#{home.sellings.new}">

            </h1>
        </div>
    </div>

    <div class="container-fluid">

        <form method="POST" th:object="${itemSell}" class="form-vertical  js-form-loading" th:action="@{/sell/new}">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <input type="hidden" id="id" th:field="*{id}">

            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="qtdSelling" class="control-label" th:text="#{selling.qtd}"></label>
                    <input type="number" min="1" max="100" id="qtdSelling" value="1" class="form-control" th:field="*{qtd}" required>
                </div>

                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.nome}"></label>
                    <div class="pt-field-action">
                        <select id="products" class="form-control" th:field="*{product}" required>
                            <option value="" th:text="#{product.list}"></option>
                            <option th:each="product:${produtos}" th:value="${product.precoVenda}" th:text="${product.nome}"></option>
                        </select>
                    </div>


                </div>
                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.precoVenda}"></label>
                    <input type="text" id="sellingPrice" class="form-control" th:field="*{unitValue}" th:text="${product == null ? '' : product.precoVenda}" disabled >
                </div>


                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.desconto}"></label>
                    <div class="input-group">
                        <input type="number" id="desconto" class="form-control" th:field="*{discount}" value="0" min="0" required >
                        <span class="input-group-addon" id="basic-addon2">%</span>
                    </div>
                </div>

                <div class="col-sm-2 form-group">
                    <label for="totProd" class="control-label" th:text="#{selling.total}"></label>
                    <input type="text" id="totProd" class="form-control" th:field="*{sell.totalSell}" disabled >
                </div>

                <div class="col-sm-2 form-group">
                    <label for="addrow" class="control-label" th:text="#{selling.new.product}"></label>
                    <a type="button" class="form-control btn btn-success" id="addrow">Add Product <!--th:href="@{/sell/add}"--></a>
                </div>
            </div>


            <div class="row">
                <table class="table" id="productsToSell">
                    <thead>
                    <tr>
                        <th scope="col">Qtd</th>
                        <th scope="col">Product</th>
                        <th scope="col">Unit Value</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{selling.total}"></label>
                    <input type="text" id="sellingTotal" class="form-control" th:field="*{sell.totalSell}"disabled >
                </div>

            </div>

            <div class="row">

                <div class="col-sm-2 form-group">
                    <input type="button" class="form-control btn btn-success" id="sumTotal" th:value="#{sum}" />
                </div>

            </div>



            <div class="form-group">
                <button class="btn  btn-primary" type="submit" th:text="#{save}"></button>
            </div>

        </form>
    </div>


</section>


</body>
</html>