<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<head>
    <title th:text="#{home.sellings}"></title>
</head>
<body>
<section layout:fragment="conteudo" >
    <div class="page-header">
        <div class="container-fluid">
            <h1 th:text="#{home.sellings.new}">

            </h1>
        </div>
    </div>

    <div class="container-fluid">

        <form method="POST" th:object="${sell}" class="form-vertical  js-form-loading" th:action="@{/sell/new}">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <input type="hidden" id="id" th:field="*{codigo}">

            <div class="row">
                <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('qtdProd')} ? has-error">
                    <label for="qtdSelling" class="control-label" th:text="#{selling.qtd}"></label>
                    <input type="number" min="1" max="100" id="qtdSelling" value="1" class="form-control" th:field="*{qtdProd}" required>
                </div>

                <div class="col-sm-6 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.nome}"></label>
                    <div class="pt-field-action">
                        <select id="products" class="form-control" th:field="*{products}" required>
                            <option value="" th:text="#{product.supplier.select}"></option>
                            <option th:each="products:${produtos}" th:value="${products.precoVenda}" th:text="${products.nome}"></option>
                        </select>

                        <!--<div class="pt-field-action_icon">
                            <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoFornecedor">
                                <i class="glyphicon glyphicon-plus-sign pt-icon-large"></i>s
                            </a>
                        </div>-->
                    </div>


                </div>
                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.precoVenda}"></label>
                    <input type="text" id="sellingPrice" class="form-control" th:field="*{products}" th:text="${products == null ? '' : products.precoVenda}" disabled >
                </div>

                <div class="col-sm-2 form-group">
                    <label for="addrow" class="control-label" th:text="#{selling.new.product}"></label>
                    <input type="button" class="form-control btn btn-success" id="addrow" value="Add Product" />
                </div>


            </div>


            <div class="row">
                <input type="hidden" id="ccnt" value="0">
                <table class="table" id="productsToSell">
                    <thead>
                    <tr>
                        <th scope="col">Qtd</th>
                        <th scope="col">Product</th>
                        <th scope="col">Unit Value</th>]
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{selling.total}"></label>
                    <input type="text" id="sellingTotal" class="form-control" th:field="*{products}"disabled >
                </div>
            </div>



            <div class="form-group">
                <button class="btn  btn-primary" type="submit" th:text="#{save}"></button>
            </div>

        </form>
    </div>


</section>


</body>
</html>