<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<head>
    <title th:text="#{home.sellings}"></title>
</head>
<body>
<section layout:fragment="conteudo" >
    <div class="page-header">
        <div class="container-fluid">
            <h1 th:text="#{home.sellings.new}">

            </h1>
        </div>
    </div>

    <div class="container-fluid">

        <!--
        https://stackoverflow.com/questions/36500731/how-to-bind-an-object-list-with-thymeleaf
        https://stackoverflow.com/questions/38637513/input-in-array-thymeleaf
        -->

        <form method="POST" th:object="${itemSellWrapper}" class="form-vertical js-form-loading" th:action="@{/sell/add}">

            <!--<th:block th:include="fragments/MensagensErroValidacao"></th:block>-->
            <input type="hidden" th:field="*{itemSellList[0].sell.codigo}" th:id="${sellid}">

            <div class="row">
                <table class="table" id="productsToSell">
                    <thead>
                    <tr>
                        <th scope="col">Qtd</th>
                        <th scope="col">Product</th>
                        <th scope="col">Unit Value</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tbody>
                    <tr th:each="itemSell, rowStat : *{itemSellList}"	th:class="${rowStat.even ? 'even' : 'odd'}">
                        <td><input type="text" th:field="*{itemSellList[__${rowStat.index}__].id}" readonly="readonly" /></td>
                        <td><input type="text" th:field="*{itemSellList[__${rowStat.index}__].qtd}" /></td>
                        <td><input type="text" th:field="*{itemSellList[__${rowStat.index}__].product.nome}" /></td>
                        <td><a th:href="@{/sell/new/} + *{itemSellList[__${rowStat.index}__].id} +  '/'">Delete</a></td>
                    </tr>
                    </tbody>

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{selling.total}"></label>
                    <label type="text" id="sellingTotal" class="form-control" disabled /> <!--th:field="*{sell.totalSell}"-->
                </div>

            </div>

            <div class="row">

                <div class="col-sm-2 form-group">
                    <input type="button" class="form-control btn btn-success" id="sumTotal" th:value="#{sum}" />
                </div>

            </div>


            <div class="row">
                <div class="col-sm-1 form-group">
                    <label for="qtdSelling" class="control-label" th:text="#{selling.qtd}"></label>
                    <input type="number" min="1" max="100" id="qtdSelling" value="1" class="form-control" th:field="*{itemSellList[0].qtd}"/>
                </div>

                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.nome}"></label>
                    <div class="pt-field-action">
                        <select id="products" class="form-control" th:field="*{itemSellList[0].product.codigo}" >
                            <!--<input type="hidden" th:id="itemSellList[__${stat.index}__].product.codigo" th:name="itemSellList[__${stat.index}__].product.codigo"/>-->
                            <option value="" th:text="#{product.list}"></option>
                            <option th:each="product:${produtos}" th:value="${product.codigo}" th:text="${product.nome}"></option>
                        </select>
                    </div>


                </div>
                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.precoVenda}"></label>
                    <input type="text" id="sellingPrice" class="form-control" th:field="*{itemSellList[0].product.precoCompra}" th:text="${product == null ? '' : product.precoVenda}" disabled >
                </div>


                <div class="col-sm-2 form-group">
                    <label for="product" class="control-label" th:text="#{product.list.desconto}"></label>
                    <div class="input-group">
                        <input type="number" id="desconto" class="form-control" th:field="*{itemSellList[0].desconto}" value="0" min="0">
                        <span class="input-group-addon" id="basic-addon2">%</span>
                    </div>
                </div>

                <div class="col-sm-2 form-group">
                    <label for="totProd" class="control-label" th:text="#{selling.total}"></label>
                    <input type="text" id="totProd" class="form-control"  disabled ><!--th:field="*{itemSellList[0].sell.totalSell}"-->
                </div>

                <div id="hidden" class="col-sm-2 form-group">
                    <label for="addrow" class="control-label" th:text="#{selling.new.product}"></label>
                    <button type="submit" class="btn btn-success" id="addrow">Add Product</button>
                </div>
            </div>

        </form>




            <!--<div class="form-group">
                <button class="btn  btn-primary" type="submit" th:text="#{save}"></button>
            </div>-->


    </div>


</section>


</body>
</html>